<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head>
<title>7th floor HWH spotlights controller</title>
</head>
<body>
<h1>HWH 7th floor spotlight proxy</h1>
<p>Makes playing with the spotlights a sych. The urls are all you need.</p>
<ul>
<li><code><a href="http://lights.local/all/red">http://lights.local/all/(red|green|blue)</a></code></li>
<li><code><a href="http://lights.local/1/red">http://lights.local/(all|1|2)/red</a></code></li>
<li><code><a href="http://lights.local/all/off">http://lights.local/(all|1|2)/off</a></code></li>
<li><code><a href="http://lights.local/all/random">http://lights.local/(all|1|2)/random</a></code></li>
</ul>
<p>Simple huh?</p>
<em>BEWARE: the lights will just queue if everyones trys at the same time</em>
</body>
</html>
