<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head>
<title>7th floor Henry Wood House spotlights controller</title>
</head>
<body>
<h1>HWH 7th floor spotlight proxy</h1>
<p>This makes playing with the spotlights a sych. Hopefully the urls give a clue.</p>
<ul>
<li><code><a href="http://lights.local/all/red">http://lights.local/all/red</a></code></li>
<li><code><a href="http://lights.local/all/green">http://lights.local/all/green</a></code></li>
<li><code><a href="http://lights.local/all/blue">http://lights.local/all/blue</a></code></li>
<li><code><a href="http://lights.local/1/red">http://lights.local/1/red</a></code></li>
<li><code><a href="http://lights.local/2/blue">http://lights.local/2/blue</a></code></li>
<li><code><a href="http://lights.local/all/off">http://lights.local/all/off</a></code></li>
</ul>
</body>
</html>
